.top-nav {
  color: #fff;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
}

div.search-form .form-ele {
  display: relative;
}

.search-label {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  
}

/* featured stories section */
div.featured-stories img {
  width: 100%;
  height: auto;
}

img {
  height: auto;
  width: 100%;
}

.content .image img {
  float: left;
  width: 95px;
  margin-right: 10px;
}

.content .head-topic h5{
  color: #9c9f9f;
}

article {
  font-size: 0.9em;
  font-weight: 300;
  border-top: 1px solid #afb3b3;
  padding-top: 10px;
}

article h5.title {
  font-size: 1.1em;
}

/* style section title of every column in top header */
.section-head-info {
  color: #9c9f9f;
}