.top-nav {
  color: #fff;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
}

div.search-form .form-ele {
  display: relative;
}

.search-label {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  
}

/* featured stories section */
div.featured-stories img {
  width: 100%;
  height: auto;
}

img {
  height: auto;
  width: 100%;
}

.content .image img {
  float: left;
  width: 95px;
  margin-right: 10px;
}

.content .head-topic h5{
  color: #9c9f9f;
}

article {
  font-size: 0.9em;
  font-weight: 300;
  border-top: 1px solid #afb3b3;
  padding-top: 10px;
}

article h5.title {
  font-size: 1.1em;
}

/* style section title of every column in top header */
.section-head-info {
  color: #9c9f9f;
}

/* right most column of header */
.the-debate {
  border-width: 3px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #c4c8c8;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.the-debate .debate-item {
  font-size: 0.8em;
}

.the-debate .debate-item p {
  color: #717373;
}

.the-debate .debate-item h3 {
  font-size: 1.3em;
}

.the-debate .debate-item img {
  float: left;
  width: 86px;
  padding: 5px;
}

.the-debate .decoration .vs {
  position: relative;
  top: 0px;
  color: #fff;
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 36px auto;
}

.the-debate .debate-item img#user2 {
  float: right;
}

/* opinion section */


.the-opinion li{
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #c4c6c6;
}

.the-opinion .headshot img {
  float: left;
  width: 86px;
  padding-right: 5px;
}

.the-opinion .info h3{
  font-size: 1.1em;
}
.the-opinion .info p{
  font-size: 0.9em;
  color: #717171;
}

/* bottom half section */
.bottom-half {
  padding-top: 15px;
}

.bottom-half .topic-magazine {
  text-align: center;
  border-bottom: 1px solid #d8d9d9;
}

.bottom-half .topic-magazine h4 {
  font-size: 1.2em;
}

.bottom-half .topic-magazine  img {
  width: 30px;
}

.bottom-half .row .wrap .image img {
  height: auto;
  width: 100%;
}

.bottom-half .row .wrap .image {
  display: relative;
}
.bottom-half .row .wrap .category {
  display: absolute;
  z-index: 1;
  color: #f72210;
  background-color: rgba(255,255,255,.9);
  bottom: 0;
  left: 0;
}

.wrap a {
   text-decoration: none;
   text-align: center;
   color: #000;
   background-color: rgb(234, 229, 229);
   display: block;
   font-size: 1.4em;
}

.rap h5 {
  font-size: 1.3em;
  font-weight: 700;
}

.rap .image img {
  height: auto;
  width: 100%;
}

.rap .category a {
  text-decoration: none;
  font-size: 1.4em;
  color: #f72210;
}

.rap .category a#first {
  color: #fff;
  background-color: #f72210;
}

/* footer section */

footer {
  margin-top: 5px;
  color:#787575;
  padding-top: 15px;
}

footer .top-footer {
  font-size: 1em;
  vertical-align: baseline;
  border-bottom: 1px solid #b6b8b8;
}

footer .top-footer img {
  width: 200px;
  height: auto;
}

footer .top-footer .right-content ul {
  list-style: none;
}

footer .top-footer .right-content li {
  display: inline-block;
  padding: 0 10px;
  text-align: right;
}

footer .bottom-footer {
  margin-top: 10px;
  font-size: 0.8em;
}

footer .bottom-footer ul {
  list-style: none;
}

footer .bottom-footer li {
  display: inline-block;
  padding: 0 5px;
  text-align: right;
  border-right: 1px solid  #b6b8b8;
}

